<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background: burlywood;">
    <h1>hola esto es una distribucion 
    {% if ansible_facts.distribution == "Centos" %} 
          esto es de <b style="color:red; font-size:50px;">Centos</b>
        {% elif  ansible_facts.distribution == "Ubuntu" %}
        esto es de <b style="color:red; font-size:50px;">Ubuntu</b>
        {% else %}
            no es ninguno de los 2 sistemas
    {% endif %}
    </h1>
</body>
</html>